// Shared variables for entire project
$color-primary: #1b1b1b;
$color-muted: #999;
$color-border: #e4e4e4;
$color-dark: #000;
$color-gray: #363636;
$color-light-gray: #e8e8e8;
$font-main: "Raleway", sans-serif;
